* {
  box-sizing: border-box;
  margin: 0;
}



.title {
  
}

.log-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 15vh;
}

.log-in-btn {
  height: 30%;
}